<app-navbar></app-navbar>
<section>
    <form>
       
        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Apellido</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Edad</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Carrera</mat-label>
            <input matInput>
        </mat-form-field>

        <button mat-raised-button color="primary">Guardar</button>
        <button mat-raised-button >Cancelar</button>

    </form>
</section>
